{% macro id(ii) -%}
<id root="{{ ii.root }}"{{ ii.extension | xml_attr('extension') }}/>
{%- endmacro %}

{% macro code(cd, tag='code', extra_attrs='') -%}
<{{ tag }} code="{{ cd.code }}" codeSystem="{{ cd.codeSystem }}" codeSystemName="{{ cd.codeSystemName }}" codeSystemVersion="{{ cd.codeSystemVersion }}" displayName="{{ cd.displayName }}"{{ extra_attrs | safe }}>{% if cd.originalText %}<originalText>{{ cd.originalText }}</originalText>{% endif %}</{{ tag }}>
{%- endmacro %}

{% macro addr(a) -%}
<addr>
    {% if a.type %}
    <address:Type code="{{ a.type.code }}" codeSystem="1.2.643.5.1.13.13.11.1504" 
                  codeSystemName="Тип адреса пациента" displayName="{{ a.type.displayName }}" 
                  codeSystemVersion="{{ a.type.version or '1.4' }}"/>
    {% endif %}
    <streetAddressLine>{{ a.text }}</streetAddressLine>
    {% if a.state_code %}
    <address:stateCode code="{{ a.state_code.code }}" codeSystem="1.2.643.5.1.13.13.99.2.206" 
                       codeSystemName="Субъекты Российской Федерации" displayName="{{ a.state_code.displayName }}" 
                       codeSystemVersion="{{ a.state_code.version or '6.5' }}"/>
    {% endif %}
    <postalCode>{{ a.postal_code or '101000' }}</postalCode>
    {% if a.fias %}
    <fias:Address>
        <fias:AOGUID>{{ a.fias.aoguid }}</fias:AOGUID>
        {% if a.fias.houseguid %}<fias:HOUSEGUID>{{ a.fias.houseguid }}</fias:HOUSEGUID>{% endif %}
    </fias:Address>
    {% endif %}
</addr>
{%- endmacro %}

{% macro person(p) -%}
<name>
    <family>{{ p.family }}</family>
    <given>{{ p.given }}</given>
    {% if p.patronymic %}<identity:Patronymic>{{ p.patronymic }}</identity:Patronymic>{% endif %}
</name>
{%- endmacro %}
