<?xml version="1.0" encoding="UTF-8"?>
{% import "macros/cda.xml.j2" as cda %}
<ClinicalDocument xmlns="urn:hl7-org:v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:identity="urn:hl7-ru:identity" xmlns:address="urn:hl7-ru:address" xmlns:medService="urn:hl7-ru:medService" xmlns:fias="urn:hl7-ru:fias">
    <realmCode code="RU"/>
    <typeId root="2.16.840.1.113883.1.3" extension="POCD_MT000040"/>
    <templateId root="1.2.643.5.1.13.13.15.13.7"/>
    {{ cda.id(header.id) }}
    <code code="{{ header.type_code.code }}" codeSystem="{{ header.type_code.codeSystem }}" 
          codeSystemName="{{ header.type_code.codeSystemName }}" codeSystemVersion="{{ header.type_code.codeSystemVersion }}" 
          displayName="{{ header.type_code.displayName }}">
        {% if header.type_code.translation %}
        <translation code="{{ header.type_code.translation.code }}" codeSystem="{{ header.type_code.translation.codeSystem }}" 
                     codeSystemName="{{ header.type_code.translation.codeSystemName }}" codeSystemVersion="{{ header.type_code.translation.codeSystemVersion }}" 
                     displayName="{{ header.type_code.translation.displayName }}"/>
        {% endif %}
    </code>
    <title>{{ header.title }}</title>
    <effectiveTime value="{{ event.period.low | hl7date }}"/>
    <confidentialityCode code="{{ header.confidentiality.code }}" codeSystem="{{ header.confidentiality.codeSystem }}" 
                         codeSystemName="{{ header.confidentiality.codeSystemName }}"
                         codeSystemVersion="{{ header.confidentiality.version }}" displayName="{{ header.confidentiality.displayName }}"/>
    <languageCode code="ru-RU"/>
    <setId root="{{ header.set_id.root }}" extension="{{ header.set_id.extension }}"/>
    <versionNumber value="{{ header.version }}"/>

    <recordTarget>
        <patientRole>
            <id root="{{ patient.id.root }}" extension="{{ patient.id.extension }}"/>
            <id root="1.2.643.100.3" extension="{{ patient.snils }}"/>
            <identity:IdentityDoc>
                <identity:IdentityCardType codeSystem="{{ patient.identity_doc.type.codeSystem }}" 
                                           codeSystemName="{{ patient.identity_doc.type.codeSystemName }}" 
                                           code="{{ patient.identity_doc.type.code }}" 
                                           displayName="{{ patient.identity_doc.type.displayName }}" 
                                           codeSystemVersion="{{ patient.identity_doc.type.version }}"/>
                <identity:Series>{{ patient.identity_doc.series }}</identity:Series>
                <identity:Number>{{ patient.identity_doc.number }}</identity:Number>
                <identity:IssueOrgName>{{ patient.identity_doc.issue_org }}</identity:IssueOrgName>
                <identity:IssueOrgCode>{{ patient.identity_doc.issue_org_code }}</identity:IssueOrgCode>
                <identity:IssueDate value="{{ patient.identity_doc.issue_date | hl7date }}"/>
            </identity:IdentityDoc>
            {% if patient.insurance_policy %}
            <identity:InsurancePolicy>
                <identity:InsurancePolicyType code="{{ patient.insurance_policy.type.code }}" 
                                             codeSystem="1.2.643.5.1.13.13.11.1035" 
                                             codeSystemName="Виды полиса обязательного медицинского страхования" 
                                             displayName="{{ patient.insurance_policy.type.displayName }}" 
                                             codeSystemVersion="{{ patient.insurance_policy.type.version or '1.3' }}"/>
                {% if patient.insurance_policy.series %}
                <identity:Series>{{ patient.insurance_policy.series }}</identity:Series>
                {% endif %}
                <identity:Number>{{ patient.insurance_policy.number }}</identity:Number>
            </identity:InsurancePolicy>

            {% endif %}
            {{ cda.addr(patient.address) }}
            <telecom use="WP" value="{{ patient.contacts.phone }}"/>
            <patient>
                {{ cda.person(patient.name) }}
                <administrativeGenderCode code="{{ patient.gender.code }}" codeSystem="1.2.643.5.1.13.13.11.1040"
                                          codeSystemName="Пол пациента" codeSystemVersion="2.1" displayName="{{ patient.gender.displayName }}"/>
                <birthTime value="{{ patient.birth_date | hl7date }}"/>
            </patient>
            <providerOrganization>
                <id root="{{ organization.id }}"/>
                {% if organization.license %}
                <id root="1.2.643.5.1.13.2.1.1.1504.101" extension="{{ organization.license.extension }}"
                    assigningAuthorityName="{{ organization.license.assigningAuthorityName or 'Минздрав' }}"/>
                {% endif %}
                <identity:Props>
                    <identity:Ogrn>{{ organization.ogrn }}</identity:Ogrn>
                    <identity:Okpo>{{ organization.okpo }}</identity:Okpo>
                    <identity:Okato>{{ organization.okato }}</identity:Okato>
                </identity:Props>
                <name>{{ organization.name }}</name>
                <telecom use="WP" value="{{ organization.phone }}"/>
                {{ cda.addr(organization.address) }}
            </providerOrganization>
        </patientRole>
    </recordTarget>

    <author>
        <time nullFlavor="NI"/>
        <assignedAuthor>
            <id root="{{ author.id.root }}" extension="{{ author.id.extension }}"/>
            <id root="1.2.643.100.3" extension="{{ author.snils }}"/>
            {{ cda.code(author.position, tag='code') }}
            {{ cda.addr(author.address) }}
            <telecom use="WP" value="{{ author.phone }}"/>
            <assignedPerson>
                {{ cda.person(author.name) }}
            </assignedPerson>
            <representedOrganization classCode="ORG">
                <id root="{{ organization.id }}"/>
                <name>{{ organization.name }}</name>
                <telecom use="WP" value="{{ organization.phone }}"/>
                {{ cda.addr(organization.address) }}
            </representedOrganization>
        </assignedAuthor>
    </author>

    <custodian>
        <assignedCustodian>
            <representedCustodianOrganization classCode="ORG">
                <id root="{{ organization.id }}"/>
                <name>{{ organization.name }}</name>
                <telecom use="WP" value="{{ organization.phone }}"/>
                {{ cda.addr(organization.address) }}
            </representedCustodianOrganization>
        </assignedCustodian>
    </custodian>

    <informationRecipient>
        <intendedRecipient>
            <receivedOrganization>
                <id root="1.2.643.5.1.13"/>
                <name>Министерство здравоохранения Российской Федерации</name>
            </receivedOrganization>
        </intendedRecipient>
    </informationRecipient>

    {% if payment_participant %}
    <participant typeCode="IND">
        <associatedEntity classCode="GUAR">
            {{ cda.code(payment_participant.payment_source) }}
            {% if payment_participant.doc_info %}
            <identity:DocInfo>
                {{ cda.code(payment_participant.doc_info.doc_type, tag='identity:IdentityDocType') }}
                {% if payment_participant.doc_info.insurance_policy_type %}
                {{ cda.code(payment_participant.doc_info.insurance_policy_type, tag='identity:InsurancePolicyType') }}
                {% endif %}
                {% if payment_participant.doc_info.series %}<identity:Series>{{ payment_participant.doc_info.series }}</identity:Series>{% endif %}
                {% if payment_participant.doc_info.number %}<identity:Number>{{ payment_participant.doc_info.number }}</identity:Number>{% endif %}
                {% if payment_participant.doc_info.inn %}<identity:INN>{{ payment_participant.doc_info.inn }}</identity:INN>{% endif %}
                {% if payment_participant.doc_info.period %}
                <identity:effectiveTime>
                    <identity:low value="{{ payment_participant.doc_info.period.low | hl7date }}"/>
                    {% if payment_participant.doc_info.period.high %}
                    <identity:high value="{{ payment_participant.doc_info.period.high | hl7date }}"/>
                    {% endif %}
                </identity:effectiveTime>
                {% endif %}
            </identity:DocInfo>
            {% endif %}
            {% if payment_participant.scoping_org %}
            <scopingOrganization>
                <id root="{{ payment_participant.scoping_org.id_root }}" extension="{{ payment_participant.scoping_org.id_extension }}"/>
                <name>{{ payment_participant.scoping_org.name }}</name>
                {% if payment_participant.scoping_org.phone %}
                <telecom use="WP" value="{{ payment_participant.scoping_org.phone }}"/>
                {% endif %}
                {% if payment_participant.scoping_org.address %}
                {{ cda.addr(payment_participant.scoping_org.address) }}
                {% endif %}
            </scopingOrganization>
            {% endif %}
        </associatedEntity>
    </participant>
    {% endif %}

    {% if referral_participant %}
    <participant typeCode="REF">
        <associatedEntity classCode="PROV">
            {% if referral_participant.person.id %}
            {{ cda.id(referral_participant.person.id) }}
            {% endif %}
            {% if referral_participant.person.snils %}
            <id root="1.2.643.100.3" extension="{{ referral_participant.person.snils }}"/>
            {% endif %}
            {{ cda.code(referral_participant.person.position) }}
            {% if referral_participant.person.address %}
            {{ cda.addr(referral_participant.person.address) }}
            {% endif %}
            {% if referral_participant.person.phone %}
            <telecom use="WP" value="{{ referral_participant.person.phone }}"/>
            {% endif %}
            <associatedPerson>
                {{ cda.person(referral_participant.person.name) }}
            </associatedPerson>
            {% if referral_participant.organization %}
            <scopingOrganization>
                <id root="{{ referral_participant.organization.id }}"/>
                <name>{{ referral_participant.organization.name }}</name>
                {% if referral_participant.organization.phone %}
                <telecom use="WP" value="{{ referral_participant.organization.phone }}"/>
                {% endif %}
                {% if referral_participant.organization.address %}
                {{ cda.addr(referral_participant.organization.address) }}
                {% endif %}
            </scopingOrganization>
            {% endif %}
        </associatedEntity>
    </participant>
    {% endif %}

    {% if in_fulfillment_of %}
    <inFulfillmentOf>
        <order>
            {% if in_fulfillment_of.local_id %}
            {{ cda.id(in_fulfillment_of.local_id) }}
            {% endif %}
            {% if in_fulfillment_of.remd_id %}
            {{ cda.id(in_fulfillment_of.remd_id) }}
            {% endif %}
            {{ cda.code(in_fulfillment_of.doc_type) }}
        </order>
    </inFulfillmentOf>
    {% endif %}

    <documentationOf>
        <serviceEvent>
            <code code="{{ event.type.code }}" codeSystem="1.2.643.5.1.13.13.99.2.726" codeSystemName="Типы документированных событий" displayName="{{ event.type.displayName }}" codeSystemVersion="{{ event.type.version or '3.50' }}"/>
            <effectiveTime>
                <low value="{{ event.period.low | hl7date }}"/>
                <high value="{{ event.period.high | hl7date }}"/>
            </effectiveTime>
            {% if event.service_form %}
            <medService:serviceForm codeSystem="1.2.643.5.1.13.13.11.1551" codeSystemName="Формы оказания медицинской помощи" 
                                   code="{{ event.service_form.code }}" displayName="{{ event.service_form.displayName }}" 
                                   codeSystemVersion="{{ event.service_form.version or '1.2' }}"/>
            {% endif %}
            {% if event.service_type %}
            <medService:serviceType codeSystem="1.2.643.5.1.13.13.11.1034" codeSystemName="Виды медицинской помощи" 
                                   code="{{ event.service_type.code }}" displayName="{{ event.service_type.displayName }}" 
                                   codeSystemVersion="{{ event.service_type.version or '1.3' }}"/>
            {% endif %}
            {% if event.conditions %}
            <medService:serviceCond codeSystem="1.2.643.5.1.13.13.99.2.322" codeSystemName="Условия оказания медицинской помощи" 
                                   code="{{ event.conditions.code }}" displayName="{{ event.conditions.displayName }}" 
                                   codeSystemVersion="{{ event.conditions.version or '3.1' }}"/>
            {% endif %}
        </serviceEvent>
    </documentationOf>

    <componentOf>
        <encompassingEncounter>
            <id root="{{ header.set_id.root }}.15" extension="{{ header.set_id.extension }}"/>
            <code code="1" codeSystem="1.2.643.5.1.13.13.99.2.723" codeSystemName="Виды медицинской помощи" displayName="Амбулаторная" codeSystemVersion="1.3"/>
            <medService:DocNumber>{{ header.id.extension }}</medService:DocNumber>
            <effectiveTime>
                <low value="{{ encounter.period.low | hl7date }}"/>
                <high value="{{ encounter.period.high | hl7date }}"/>
            </effectiveTime>
        </encompassingEncounter>
    </componentOf>

    <component>
        <structuredBody>
            <component>
                <section>
                    <code code="DOCINFO" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Сведения о документе" codeSystemVersion="1.38"/>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="800" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Обращение" codeSystemVersion="5.69"/>
                            <value xsi:type="CD" code="{{ document_info.case_type.code }}" 
                                   codeSystem="1.2.643.5.1.13.13.11.1007" 
                                   codeSystemName="Вид случая госпитализации или обращения (первичный, повторный)" 
                                   displayName="{{ document_info.case_type.displayName }}" 
                                   codeSystemVersion="{{ document_info.case_type.version or '2.1' }}"/>
                        </observation>
                    </entry>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="801" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Место проведения" codeSystemVersion="5.69"/>
                            <value xsi:type="CD" code="1" codeSystem="1.2.643.5.1.13.13.11.1008" codeSystemName="Место оказания медицинской помощи" displayName="Амбулаторно-поликлиническое учреждение" codeSystemVersion="5.1"/>
                        </observation>
                    </entry>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="804" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Состояние пациента" codeSystemVersion="5.69"/>
                            <value xsi:type="CD" code="{{ document_info.patient_condition.code }}" 
                                   codeSystem="1.2.643.5.1.13.13.11.1006" 
                                   codeSystemName="Степень тяжести состояния пациента" 
                                   displayName="{{ document_info.patient_condition.displayName }}" 
                                   codeSystemVersion="{{ document_info.patient_condition.version or '2.4' }}"/>
                        </observation>
                    </entry>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="836" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Объективные данные" codeSystemVersion="5.69"/>
                            <value xsi:type="ST">{{ objective_status }}</value>
                        </observation>
                    </entry>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="806" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Заключение консультации" codeSystemVersion="5.69"/>
                            <value xsi:type="ST">{{ recommendations }}</value>
                        </observation>
                    </entry>
                </section>
            </component>
            {% if benefits %}
            <component>
                <section>
                    <code code="BENEFITS" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Льготы" codeSystemVersion="1.38"/>
                    {% for benefit in benefits %}
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="811" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Льготная категория" codeSystemVersion="5.69"/>
                            {{ cda.code(benefit.code, tag='value', extra_attrs=' xsi:type="CD"') }}
                        </observation>
                    </entry>
                    {% endfor %}
                </section>
            </component>
            {% endif %}
            <component>
                <section>
                    <code code="COMPLNTS" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Жалобы" codeSystemVersion="1.38"/>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="835" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Жалобы пациента" codeSystemVersion="5.69"/>
                            <value xsi:type="ST">{{ complaints }}</value>
                        </observation>
                    </entry>
                </section>
            </component>
            <component>
                <section>
                    <code code="ANAM" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Анамнез заболевания" codeSystemVersion="1.38"/>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="7006" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Текстовое описание" codeSystemVersion="5.69"/>
                            <value xsi:type="ST">{{ anamnesis_disease }}</value>
                        </observation>
                    </entry>
                </section>
            </component>
            <component>
                <section>
                    <code code="LANAM" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Анамнез жизни" codeSystemVersion="1.38"/>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="7006" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Текстовое описание" codeSystemVersion="5.69"/>
                            <value xsi:type="ST">{{ anamnesis_life }}</value>
                        </observation>
                    </entry>
                </section>
            </component>
            {% if disabilities %}
            <component>
                <section>
                    <code code="DISABILITY" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Инвалидность" codeSystemVersion="1.38"/>
                    {% for dis in disabilities %}
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="814" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Инвалидность" codeSystemVersion="5.69"/>
                            <effectiveTime>
                                <low value="{{ dis.low | hl7date }}"/>
                                {% if dis.high %}
                                <high value="{{ dis.high | hl7date }}"/>
                                {% else %}
                                <high nullFlavor="PINF"/>
                                {% endif %}
                            </effectiveTime>
                            {{ cda.code(dis.group, tag='value', extra_attrs=' xsi:type="CD"') }}
                            {% if dis.establishment_type %}
                            <entryRelationship typeCode="COMP">
                                <observation classCode="OBS" moodCode="EVN">
                                    <code code="815" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Порядок установления инвалидности" codeSystemVersion="5.69"/>
                                    {{ cda.code(dis.establishment_type, tag='value', extra_attrs=' xsi:type="CD"') }}
                                </observation>
                            </entryRelationship>
                            {% endif %}
                        </observation>
                    </entry>
                    {% endfor %}
                </section>
            </component>
            {% endif %}
            {% if incapacity %}
            <component>
                <section>
                    <code code="SOCANAM" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Социальный анамнез" codeSystemVersion="1.38"/>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="12006" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Причина нетрудоспособности" codeSystemVersion="5.69"/>
                            <effectiveTime>
                                <low value="{{ incapacity.period.low | hl7date }}"/>
                                <high value="{{ (incapacity.period.high or incapacity.period.low) | hl7date }}"/>
                            </effectiveTime>
                            {{ cda.code(incapacity.reason, tag='value', extra_attrs=' xsi:type="CD"') }}
                        </observation>
                    </entry>
                </section>
            </component>
            {% endif %}
            {% if vital_params %}
            <component>
                <section>
                    <code code="VITALPARAM" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Витальные параметры" codeSystemVersion="1.38"/>
                    {% for vp in vital_params %}
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            {% if vp.observation_id %}
                            {{ cda.id(vp.observation_id) }}
                            {% else %}
                            <id root="1.2.643.5.1.13.13.12.2.77.7831.100.1.1.52" extension="VP{{ loop.index }}"/>
                            {% endif %}
                            {{ cda.code(vp.code) }}
                            <effectiveTime value="{{ (vp.measured_at or event_date) | hl7date }}"/>
                            <value xsi:type="PQ" value="{{ vp.value }}" unit="{{ vp.unit }}">
                                {{ cda.code(vp.unit_code, tag='translation', extra_attrs=' value="' ~ vp.value ~ '"') }}
                            </value>
                        </observation>
                    </entry>
                    {% endfor %}
                </section>
            </component>
            {% endif %}
            <component>
                <section>
                    <code code="DGN" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Диагнозы" codeSystemVersion="1.38"/>
                    {% if diagnoses %}
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <id root="1.2.643.5.1.13.13.12.2.77.7831.100.1.1.52" extension="DGN1"/>
                            <code code="838" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Сведения об установленном диагнозе" codeSystemVersion="5.69"/>
                            <effectiveTime value="{{ encounter.period.low | hl7date }}"/>
                            {% set kind_map = {'main': ('1', 'Основное заболевание'), 'complication': ('2', 'Осложнение основного заболевания'), 'concomitant': ('3', 'Сопутствующее заболевание')} %}
                            {% for diag in diagnoses %}
                            {% set kind_code, kind_name = kind_map[diag.kind] %}
                            <entryRelationship typeCode="COMP">
                                <observation classCode="OBS" moodCode="EVN">
                                    <code code="{{ kind_code }}" codeSystem="1.2.643.5.1.13.13.11.1077" codeSystemName="Виды нозологических единиц диагноза" displayName="{{ kind_name }}" codeSystemVersion="2.2"/>
                                    <text>{{ diag.text }}</text>
                                    <value xsi:type="CD" code="{{ diag.code.code }}" codeSystem="1.2.643.5.1.13.13.11.1005"
                                           codeSystemName="МКБ-10" codeSystemVersion="1.1" displayName="{{ diag.code.displayName }}"/>
                                    {% if diag.disease_character %}
                                    <entryRelationship typeCode="COMP">
                                        <observation classCode="OBS" moodCode="EVN">
                                            <code code="12014" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Характер заболевания" codeSystemVersion="5.69"/>
                                            <value xsi:type="CD" code="{{ diag.disease_character.code }}" codeSystem="{{ diag.disease_character.codeSystem }}"
                                                   codeSystemName="{{ diag.disease_character.codeSystemName }}" codeSystemVersion="{{ diag.disease_character.codeSystemVersion }}" displayName="{{ diag.disease_character.displayName }}"/>
                                        </observation>
                                    </entryRelationship>
                                    {% endif %}
                                </observation>
                            </entryRelationship>
                            {% endfor %}
                        </observation>
                    </entry>
                    {% endif %}
                </section>
            </component>
            <component>
                <section>
                    <code code="REGIME" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Рекомендации" codeSystemVersion="1.38"/>
                    <entry>
                        <observation classCode="OBS" moodCode="EVN">
                            <code code="7006" codeSystem="1.2.643.5.1.13.13.99.2.166" codeSystemName="Кодируемые поля CDA документов" displayName="Текстовое описание" codeSystemVersion="5.69"/>
                            <value xsi:type="ST">{{ recommendations }}</value>
                        </observation>
                    </entry>
                </section>
            </component>
            {% if prescriptions %}
            <component>
                <section>
                    <code code="DRUG" codeSystem="1.2.643.5.1.13.13.99.2.197" codeSystemName="Секции электронных медицинских документов" displayName="Назначенные лекарственные препараты" codeSystemVersion="1.38"/>
                    {% for p in prescriptions %}
                    <entry>
                        <substanceAdministration classCode="SBADM" moodCode="INT">
                            <text>{{ p.dosage_text }}</text>
                            <consumable>
                                <manufacturedProduct>
                                    <manufacturedMaterial>
                                        {% if p.is_nsi and p.nsi_code %}
                                        {{ cda.code(p.nsi_code) }}
                                        {% else %}
                                        <name>{{ p.manual_text }}</name>
                                        {% endif %}
                                    </manufacturedMaterial>
                                </manufacturedProduct>
                            </consumable>
                        </substanceAdministration>
                    </entry>
                    {% endfor %}
                </section>
            </component>
            {% endif %}
        </structuredBody>
    </component>
</ClinicalDocument>

